.auth-nav{
  height: 65px;
  background-color: #FA7D62;
  display: flex;
  a{
    display: flex;
    .g-circle{
      margin-left: 10px;
      margin-top: auto;
      margin-bottom: auto;
      height: 40px;
      width: 40px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      .g-icon{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
