= render partial: 'shared/nav_journal'

.journal-body
  = render partial: 'journal_body'

javascript:

  $('.view-all').on('click', function(e){
    journal = 1;
    function viewAll() {
      $.get( Routes.moments_path(), { journal: journal } );
    }
    viewAll()
  });
